
/* Volbar Default Theme */

#volbar-container {
    background-color: #2b303b;
    border: 2px solid #4f5b66;
    border-radius: 8px;
}

#volbar-container label {
    color: #c0c5ce;
}

label#icon-label {
    color: #c0c5ce;
    font-size: 18px;
    min-width: 30px;
}

label#icon-label.muted {
    color: #bf616a;
}

label#slider-label {
    color: #8fa1b3;
    font-family: monospace;
    letter-spacing: 0;
}

label#slider-label.muted {
    color: #bf616a;
}

label#percent-label {
    color: #c0c5ce;
}

label#percent-label.muted {
    color: #bf616a;
}
