/* volbar Default Theme */

#volbar-container {
    background-color: rgba(40, 40, 74, 0.5);
    border: 2px solid #4f5b66;
    border-radius: 8px;
}

#volbar-container label {
    color: #c0c5ce;
}

label#icon {
    color: #c0c5ce;
}

label#icon.muted {
    color: #bf616a;
}

label#slider {
    color: #8fa1b3;
}

label#slider.muted {
    color: #bf616a;
}

label#percentage {
    color: #c0c5ce;
}

label#percentage.muted {
    color: #bf616a;
}
