
/* Volbar Default Theme */

#volbar-container {
    background-color: rgba(43, 48, 59, 0.95);
    border: 2px solid #4f5b66;
}

#volbar-container label {
    color: #c0c5ce;
}

label#icon {
    color: #c0c5ce;
    font-size: 18px;
    min-width: 30px;
}

label#icon.muted {
    color: #bf616a;
}

label#slider {
    color: #8fa1b3;
    font-family: monospace;
    letter-spacing: 0;
}

label#slider.muted {
    color: #bf616a;
}

label#percentage {
    color: #c0c5ce;
}

label#percentage.muted {
    color: #bf616a;
}
